html,body{
    background-color: #222;
    margin: 0;
    padding: 0;
}
h1{
    color:rgb(41, 198, 13);
    text-align: center;
}
ul li{
    background-color: #fff;
    padding: 25px;
    display: inline-block;
    margin: 20px;
    width: 200px;
}

ul li span{
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
}